<h1 class="text-center">Đề tài luận văn:</h1>
<h1 class="text-center text-uppercase">Hệ thống quản lý pin năng lượng mặt trời</h1>

<h1>Giáo viên hướng dẫn: <span class="text-uppercase">TS. Hà Hoàng Kha</span></h1>
<br/>
<h1>Các thành viên trong nhóm gồm có: </h1>
<br/>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Phạm Trung Vinh</h5>
    </div>
    <p class="mb-1">MSSV: 41204560</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Nguyễn Hữu Sỹ</h5>
    </div>
    <p class="mb-1">MSSV: </p>
  </a>
</div>
